<!DOCTYPE html>
<html lang="en">
<head>
    <title>Golden Numbers Exchange</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Business: Business Multipurpose HTML template">
    <meta name="keywords" content="bootweb, multipurpose, portfolio, personal, developer, designer, onepage, clean, minimal, modern">
    <meta name="author" content="Tanmoy Dhar">

    <!-- All CSS Files -->
    <link rel="shortcut icon" href="#" type="image/png">
    <link rel="stylesheet" href="~/Content/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Assets/css/animate.min.css">
    <link rel="stylesheet" href="~/Content/Assets/css/owl.carousel.css">


    <link href="~/Content/Assets/css/slick.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Assets/css/slicknav.min.css">
    <link href="~/Content/Assets/css/slick-theme.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/Content/Assets/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Assets/css/icofont.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Assets/css/jquery.lineProgressbar.min.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Assets/css/owl.theme.default.css">
    <link rel="stylesheet" type="text/css" href="~/Content/Assets/css/magnific-popup.css">
    <link rel="stylesheet" href="~/Content/Assets/css/style.css">
    <link rel="stylesheet" href="~/Content/Assets/css/responsive.css">
    <link id="colors" rel="stylesheet" href="~/Content/Assets/css/colors/defaults-color.css">

</head>
<body>
    <!-- ==== Preloader start ==== -->
    <div id="loader-wrapper">
        <div id="loader"></div>
        <div class="loader-section section-left"></div>
        <div class="loader-section section-right"></div>
    </div>
    <!-- ==== Preloader end ==== -->
    <!-- Header start -->
    <header>
        <div class="hidden-xs hidden-sm nav-top primary-bg">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="nav-top-access">
                            <!-- Social links -->
                            <ul>
                                <li><i class="fa fa-phone"></i> +92-320-0000058 </li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>  info@goldennumbersexchange.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 text-right">
                        <div class="nav-top-social">
                            <ul>
                                <li><a href="https://www.facebook.com/goldennumbersexchange"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                                @*<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>*@
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="logo">
                            <!--== change the logo name ==-->
                            <a href="@Url.Action("Index","Home")">
                                <h3><span>LO</span>GO</h3>
                            </a>
                        </div>
                        <!-- Responsive Menu Start -->
                        <div class="responsive-menu"></div>
                        <!-- Responsive Menu End -->
                    </div>
                    <div class="col-md-9 col-sm-12">
                        <div class="mainmenu">
                            <nav>
                                <ul id="navigation">
                                    <li class="current-page-item">
                                        <a href="@Url.Action("Index","Home")">Home</a>

                                    </li>

                                    <li>
                                        <a href="@Url.Action("BuyNumber","Home")">Buy Number</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("SaleNumber","Home")">Sell Number</a>
                                    </li>
                                    <li>
                                        <a href="@Url.Action("Blog","Home")">Blog</a>
                                      
                                    </li>
                                    <li>
                                        <a href="@Url.Action("About","Home")">
                                            About us
                                        </a>
                                    </li>
                                   
                                    <li><a href="@Url.Action("Contact","Home")">Contact Us</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()

    <footer class="footer-bg section-padding-top footer">
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <div class="f-widget">
                            <a href="@Url.Action("Index","Home")">
                                <!-- Change the logo here-->
                                <h4 class="logo-text1">Golden Numbers Exchange</h4>
                            </a>
                           
                            <ul class="f-address">
                                <br />
                                <li><i class="fa fa-map-marker" aria-hidden="true"></i>Shop # 97 LGF, Al-Hafeez Shopping Mall, Gulberg III, Lahore, Pakistan</li>
                                <li><i class="fa fa-phone"></i> +92-320-0000058</li>
                                <li><i class="fa fa-envelope" aria-hidden="true"></i>  info@goldennumbersexchange.com</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="f-widget">
                            <div class="f-widget-title">
                                <h4>Useful links</h4>
                            </div>
                            <ul class="useful-links">
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="@Url.Action("TermCondition","Home")">Terms and Conditions</a></li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Interactive Fairy Tales</a></li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Official Storybook Maker</a></li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Everyday Mathematics Links</a></li>
                                <li><i class="fa fa-caret-right" aria-hidden="true"></i> <a href="#">Basic Knowledge</a></li>
                            </ul>
                        </div>
                    </div>
                   
                    <div class="col-md-4">
                        <div class="f-widget">
                            <div class="f-widget-title">
                                <h4>Subscribe Now</h4>
                            </div>
                            <p>Promotions, new Numbers, and sales directly to your inbox</p>
                            <form action="@Url.Action("AddSubscriber","Home")">
                                <div class="newsletter">
                                    <div class="input-group">
                                        <input type="text" name="Email" required class="form-control" placeholder="Your email Address" aria-label="Search for..." autocomplete="off">
                                        <span class="input-group-btn">
                                            <button  class="btn newsletter-btn" type="submit"><i class="fa Example of paper-plane fa-paper-plane"></i></button>
                                        </span>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-area">
            <div class="container">
                <div class="row text-center">
                    <div class="copyright-social">
                        <ul class="social-profile">
                            <li><a href="https://www.facebook.com/goldennumbersexchange"><i class="fa fa-facebook"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            @*<li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>*@s
                        </ul>
                    </div>
                    <div class="copyright-text">
                        <p>© Copyright 2019. All Rights Reserved. Powered by <a target="_blank" href="https://nodlays.com/">Nodlays</a></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- ==== footer section end ==== -->
    <!-- All JS Here -->
    <script src="~/Content/Assets/js/jquery.js"></script>
    <script src="~/Content/Assets/js/bootstrap.min.js"></script>
    <script src="~/Content/Assets/js/jquery.parallax-1.1.3.js"></script>
    <script src="~/Content/Assets/js/slick.min.js"></script>
    <script src="~/Content/Assets/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/Assets/js/wow.min.js"></script>
    <script src="~/Content/Assets/js/isotope.js"></script>
    <script src="~/Content/Assets/js/owl.carousel.min.js"></script>
    <script src="~/Content/Assets/js/jquery.waypoints.min.js"></script>
    <script src="~/Content/Assets/js/jquery.lineProgressbar.js"></script>
    <script src="~/Content/Assets/js/jquery.counterup.min.js"></script>
    <script src="~/Content/Assets/js/jquery.slicknav.min.js"></script>
    <script src="~/Content/Assets/js/tweetie.js"></script>
    <script src="~/Content/Assets/js/main.js"></script>
    <script type="text/javascript">

        //  tried this in place of the onload event in the <body> tag
        //  document.onload = hideDiv;

        // also tried this
        // window.onload = hideDiv;

        
    </script>
</body>
</html>